{% extends "layout.html" %}

{% block title %}Главная страница магазина{% endblock %}

{% block content %}
  {% include 'navbar.html' %}
  <div class="container mx-auto mt-8 px-4">
    {% if user %}
      <h1 class="text-4xl font-bold mb-4 text-gray-800">Добро пожаловать, {{ user.username }}!</h1>
    {% else %}
      <h1 class="text-4xl font-bold mb-4 text-gray-800">Добро пожаловать в магазин!</h1>
    {% endif %}
    <p class="text-gray-700 text-lg">Это временная страница-заглушка. Здесь будут отображаться товары и другая информация.</p>
  </div>
{% endblock %}
